p {
  color: rgb(145, 144, 144);
}
.nav-link {
  color: rgb(145, 144, 144);
  font-weight: 600;
}
.nav-link:hover {
  color: rgb(107, 107, 107);
  font-weight: 700;
}
.tag {
  color: rgb(199, 186, 7);
  font-size: 12px;
  font-weight: 500;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.fab {
  font-size: 24px;
  cursor: pointer;
}

.comment-body {
  background-color: rgba(112, 112, 112, 0.082);
  padding: 25px;
  border-radius: 20px;
}

.comment-card {
  width: 100%;
  display: flex;
}
.comment-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.card-link-title {
  color: rgb(145, 144, 144);
  text-decoration: none;
}
.card-link-title:hover {
  color: rgb(71, 71, 71);
}
.bars {
  font-size: 25px;
  margin-left: -20px;
  color: rgb(71, 71, 71);
}
